@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.diagram-container {
  flex: 1;
  position: relative;
}

.diagram-container, .properties-container {
  overflow-y: auto;
}

.properties-container {
  position: relative;
  flex: none;
  height: 100%;
  width: 300px;
  border-left: solid 1px #cccccc;
}